@import "../../scss/_mixins.scss";

.about__container {
  position: relative;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  h3 {
    font-size: var(--smaller-font-size);
    color: $textColor;
    text-align: center;
    span {
      color: $titleColor;
    }
  }
  .about__title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .info__about-container {
    margin: auto 0;
    @include responsive(pc) {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
    .info__about {
      font-size: var(--smaller-font-size);
      width: 50%;
      margin-bottom: 2rem;
      .text__one {
        margin-bottom: 2rem;
      }
    }
    .text__three {
      text-align: center;
      color: $titleColor;
    }
  }
  .about__background {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(
        to right,
        rgb(43, 46, 59),
        rgba(43, 46, 59, 0.92),
        rgba(43, 46, 59, 0.82),
        rgba(43, 46, 59, 0.7607843137)
      ),
      url("../../assets/img/alyona-grishina-BBmi4nJjKk8-unsplash.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
  }
  .button {
    margin: 1rem auto 0;
    display: block;
    max-width: fit-content;
    @include responsive(pc) {
      max-width: 200px;
    }
  }
}
