@import "../../scss/_mixins.scss";

.about__container {
  position: relative;
  padding-top: 1rem;
  @include responsive(pc) {
    display: grid;
    align-content: center;
    padding-left: 10rem;
  }
  .title__container {
    @include responsive(pc) {
      width: 43%;
      margin-bottom: 2.5rem;
    }
  }
  .info__about-container {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    height: 100%;
    @include responsive(tablet) {
      justify-content: center;
      gap: 5rem;
    }
    @include responsive(mobile) {
      justify-content: space-evenly;
      gap: 0;
    }
    @include responsive(pc) {
      width: 43%;
      gap: 2rem;
      margin: 0;
    }
    .info__about {
      font-size: var(--smaller-font-size);
      width: 50%;
      line-height: 1.8;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include responsive(pc) {
        width: 100%;
      }
      .text__one,
      .text__two {
        width: 90%;
      }
      .text__one {
        margin-bottom: 0.7rem;
      }
    }
    .button__about {
      @include responsive(tablet) {
        width: 50%;
      }
      @include responsive(mobile) {
        width: 100%;
        padding-bottom: 5rem;
      }
      .text__three {
        text-align: center;
        color: $titleColor;
        margin-top: auto;
      }
    }
  }
  .about__background {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(
        to right,
        rgb(43, 46, 59),
        rgba(43, 46, 59, 0.92),
        rgba(43, 46, 59, 0.82),
        rgba(43, 46, 59, 0.7607843137)
      ),
      url("../../assets/img/yo.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    @include responsive(pc) {
      width: 55%;
    }
  }
  .button {
    margin: 2rem auto 0;
    display: block;
    max-width: 135px;
    @include responsive(pc) {
      max-width: 200px;
    }
  }
}
