@import "../../scss/_mixins.scss";

.about__container {
  padding-top: 1rem;
  h3 {
    font-size: var(--smaller-font-size);
    color: $textColor;
    text-align: center;
    span {
      color: $titleColor;
    }
  }
  .about__title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .info__about-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas:
      "text text aside"
      "text-two text-two aside"
      "text-three text-three text-three";
    grid-gap: 1rem;
    align-items: center;
    .aside__about {
      grid-area: aside;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
          to right,
          rgba(43, 46, 59, 0.97),
          rgba(43, 46, 59, 0.92),
          rgba(43, 46, 59, 0.82),
          rgba(43, 46, 59, 0.7607843137)
        ),
        url("../../assets/img/alyona-grishina-BBmi4nJjKk8-unsplash.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      /* div {
        img {
          border-radius: 50%;
        }
      } */
    }
    .text__one {
      grid-area: text;
    }
    .text__two {
      grid-area: text-two;
    }
    .text__three {
      grid-area: text-three;
      text-align: center;
      color: $titleColor;
      font-size: var(--h3-font-size);
    }
  }

  .button {
    margin: 1rem auto 0;
    display: block;
    max-width: fit-content;
    @include responsive(pc) {
      max-width: 200px;
    }
  }
}
