# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
firebase.json
firebase-debug.log
firebase-err.log
.firebaserc
.firebase

# Github
.github/workflows

# Public
public

# Archivos generados por npm/yarn
node_modules/
package-lock.json
package.json

# Archivo de configuración específico de ESLint
eslintrc.cjs

# Archivo de configuración específico de Vite
vite-config.js


