@import "../../../scss/mixins";

.swiper {
  padding-bottom: 170px;
  padding-top: 50px;
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    -webkit-box-reflect: below 5px
      linear-gradient(transparent, transparent, #0006);
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    &:active {
      cursor: grabbing;
    }
    @include responsive(mobile) {
      width: 230px;
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-box-reflect: initial;
      .swiper-slide-shadow-left,
      .swiper-slide-shadow-right {
        background-image: none;
      }
    }
    @include responsive(pc) {
      width: 30%;
    }
  }
  .mobile .swiper-slide-shadow-left,
  .mobile .swiper-slide-shadow-right {
    background-image: none;
  }
  a.swiper-slide {
    width: 100%;
  }
}
