@import "../../../scss/mixins";

.swiper {
  padding-bottom: 100px;
  /* .swiper-button-prev,
  .swiper-button-next {
    color: $tittleColor;
    font-size: 30px;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 1;
    }
  } */
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    -webkit-box-reflect: below 1px
      linear-gradient(transparent, transparent, #0006);
    @include responsive(mobile) {
      width: 230px;
    }
    @include responsive(pc) {
      width: 30%;
    }
  }
}
