@import "../../scss/mixins";

.services__container {
  padding: 1rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .accordion__container {
    margin-top: 1.5rem;
  }
  .skills__container {
    background-color: $primaryColor;
    margin: auto 0 6rem;
    width: 100%;
  }
}
