@import "../../scss/mixins";

.contact__container {
  padding-top: 1rem;
  .contact__title {
    font-size: var(--h1-font-size);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}
