@import "../../scss/mixins";
.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  @include responsive(pc) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 6rem;
  }

  .social__container {
    margin: 1rem 0 auto;
    @include responsive(pc) {
      margin: 0;
    }
    .social__list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      @include responsive(pc) {
        flex-direction: column;
        gap: 2rem;
      }
    }
    .social__item {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      position: relative;
      background-color: $secondaryColor;
      transition: background-color 1s ease-out;
      cursor: pointer;
      &:hover {
        background-color: $titleColor;
        a {
          color: $secondaryColor;
        }
      }
      a {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: var(--bigger-font-size);
        color: $textColor;
        transition: color 0.5s ease-out;
      }
    }
  }

  .profile__container {
    margin-bottom: auto;
    @include responsive(pc) {
      margin-bottom: 0;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    .info__profile {
      text-align: center;
      @include responsive(pc) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        height: 40vh;
        gap: 2rem;
      }
      .home__title {
        margin: 1rem auto 0;
        font-size: var(--h2-font-size);
        font-weight: 700;
        border-right: 0.1em solid $textColor;
        white-space: nowrap;
        overflow: hidden;
        -webkit-animation: typing 2s steps(30, end) forwards,
          blink-caret 0.5s step-end infinite alternate;
        animation: typing 2s steps(30, end) forwards,
          blink-caret 0.5s step-end infinite alternate;
        span {
          color: #569cd6;
          font-size: var(--h3-font-size);
        }
      }
      .home__subtitle {
        font-size: var(--h3-font-size);
        color: $textColor;
        margin-bottom: 0.5rem;
      }
      h4 {
        margin-bottom: 0.7rem;
        color: $textColor;
        font-weight: 400;
        @include responsive(pc) {
          width: 70%;
        }
      }
    }
  }
}

/* ------------- KEYFRAMES ------------- */

@keyframes typing {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 365px;
    border-right: none;
  }
}
@-webkit-keyframes typing {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 365px;
    border-right: none;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
