@import "../../scss/mixins";
.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .home__title {
    margin: 1rem auto 0;
    font-size: var(--h2-font-size);
    font-weight: 700;
    text-align: center;
    border-right: 0.1em solid $textColor;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 4s steps(30, end) forwards,
      blink-caret 0.5s step-end infinite alternate;
  }
  .home__subtitle {
    font-size: var(--h3-font-size);
    text-align: center;
    margin-bottom: 2rem;
  }
  .profile__container {
    margin: 0 auto;
    position: relative;
    max-width: 230px;
    width: 80%;
    margin-bottom: 2rem;
    opacity: 0;
    animation: showUpContainer 2s ease-in-out forwards;
    .avatar__container {
      background-color: $primaryColor;
      border-radius: 50%;
      overflow: hidden;
      max-width: 300px;
      margin: 0 auto;
      img {
        position: relative;
        top: 10px;
        opacity: 0;
        animation: showUp 2s ease-in-out 3s forwards;
      }
    }
    .avatar__container--circle {
      position: absolute;
      top: 0;
      left: 20%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #302a18a8;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      animation: rotate 50s linear infinite;
      transform-origin: 170% 305%;
      &:nth-child(2) {
        top: 20%;
        left: 0;
        transform-origin: 290% 185%;
      }
      &:nth-child(3) {
        top: -2%;
        left: 62%;
        transform-origin: -70% 305%;
      }
      &:nth-child(4) {
        top: 80%;
        left: 15%;
        transform-origin: 200% -195%;
      }
      &:nth-child(5) {
        top: 65%;
        left: 0;
        transform-origin: 290% -90%;
      }
      &:nth-child(6) {
        top: 18%;
        left: 83%;
        transform-origin: -200% 195%;
      }
      &:nth-child(7) {
        top: 55%;
        left: 86%;
        transform-origin: -220% -30%;
      }
      &:nth-child(8) {
        top: 75%;
        left: 75%;
        transform-origin: -140% -155%;
      }
      &:nth-child(9) {
        top: 90%;
        left: 50%;
        transform-origin: -5% -230%;
      }
      .circle__icon {
        font-size: 2rem;
        color: $textColor;
        width: 50%;
      }
    }
  }
  p {
    margin-bottom: 1rem;
  }
  .button {
    margin-top: 1.5rem;
    color: $textColor;
    padding: 0.6em;
    cursor: pointer;
    background: transparent;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    @include responsive(pc) {
      width: 200px;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #e8e8e8;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    &:hover::before {
      opacity: 0.2;
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes showUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes showUpContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes typing {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 350px;
    border-right: none;
  }
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
