@import "../../../scss/mixins";
.accordionItem {
  .accordionItem__header {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 10px 0 20px;
    border-radius: 6px;
    cursor: pointer;
    background: $primaryColor;
    margin-bottom: 5px;
    transition: 0.3s;
    @include responsive(pc) {
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba(28, 28, 28, 0.3);
      }
    }
    .icon__svg {
      margin-right: 10px;
      width: 20px;
      display: flex;
      justify-content: center;
    }
    &.active {
      background: $secondaryColor;
      transform: translateY(-3px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      h2 {
        color: $titleColor;
      }
      svg {
        color: $titleColor;
      }
      .collapse__svg {
        rotate: -180deg;
        svg {
          color: $textColor;
        }
      }
    }
    svg {
      font-size: 1em;
    }
    .collapse__svg {
      transition: 0.3s;
      display: flex;
      margin-left: auto;
    }
    h2 {
      font-size: var(--small-font-size);
      font-weight: 500;
      color: $textColor;
    }
  }

  .collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
    p {
      padding: 0 20px 10px;
      font-size: var(--smaller-font-size);
    }
    &.show {
      height: auto;
    }
  }
}
