@import "../../scss/mixins";

.projects__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0;
  .projects__title {
    @include responsive(pc) {
      margin-bottom: auto;
    }
  }
  .carousel__container {
    margin-bottom: auto;
    width: 100%;
  }
}
