@import "../../../scss/mixins";
.accordion__list {
  padding: 0 10%;
  @include responsive(pc) {
    width: 100%;
    min-width: 950px;
    display: flex;
    justify-content: center;
    height: 300px;
  }
}
