/*--------------------------- VARS ---------------------------*/
$backgroundColor: #2b2e3b;
$primaryColor: #1c1c1c;
$secondaryColor: #302a18;
$tittleColor: #ffcb74;
$textColor: #f6f6f6;

/*--------------------------- RESPONSIVE ---------------------------*/
$pc: 1152px;
$tablet: 1151px;
$mobile: 767px;

@mixin responsive($medida) {
  @if $medida==pc {
    @media screen and (min-width: $pc) {
      @content;
    }
  } @else if $medida==tablet {
    @media screen and (max-width: $tablet) {
      @content;
    }
  } @else if $medida==mobile {
    @media screen and (max-width: $mobile) {
      @content;
    }
  }
}

/*--------------------------- MIXINS ---------------------------*/
@mixin center {
  display: grid;
  place-items: center;
}
