@import "mixins";

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*--------------------------- FONTS ---------------------------*/
  --font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*--------------------------- RESPONSIVE FONTS ---------------------------*/
  @include responsive(pc) {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $backgroundColor;
  color: $textColor;
}

input,
textarea,
button,
body {
  font-family: var(--font);
  font-size: var(--normal-font-size);
}

main {
  margin-top: 5rem;
}
.element {
  height: 100vh;
}

section {
  height: calc(100vh - 5.5rem);
  padding: 0 1rem;
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: $titleColor;
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.button {
  width: 100%;
  color: $textColor;
  align-self: flex-start;
  text-align: center;
  padding: 0.6em;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  @include responsive(pc) {
    width: 200px;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  }
}
