@import "../../../scss/mixins";
.form-control {
  font: inherit;
  font-size: var(--smaller-font-size);
  border: none;
  color: $secondaryColor;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  cursor: pointer;
  @include responsive(pc) {
    color: $textColor;
    padding: 0 0.6rem;
  }
  &:focus {
    outline: none;
    border-color: $primaryColor;
  }
  option {
    color: $textColor;
    background-color: $backgroundColor;
  }
}
